---

---

<header class="py-1 px-2 w-full flex items-center fixed top-0">
  <div class="bg-slate-800">
    <svg>
      <path
        xmlns="http://www.w3.org/2000/svg"
        id="Logo waby"
        d="M64.2915 37.1128L60.8565 33.6778L64.4348 30.1011L60.8982 26.5644L57.3215 30.1428L53.8865 26.7078C52.7914 25.6157 51.308 25.0024 49.7615 25.0024C48.215 25.0024 46.7316 25.6157 45.6365 26.7078L40.3332 32.0111L47.8915 39.5711L40.5465 46.9161L33.0115 39.3811L27.7082 44.6844C26.6146 45.7783 26.0002 47.2618 26.0002 48.8086C26.0002 50.3554 26.6146 51.8388 27.7082 52.9328L31.1198 56.3444L27.5648 59.8978L31.1015 63.4344L34.6548 59.8794L38.1132 63.3328C38.6549 63.8745 39.2979 64.3042 40.0057 64.5974C40.7135 64.8906 41.4721 65.0415 42.2382 65.0415C43.0043 65.0415 43.7629 64.8906 44.4706 64.5974C45.1784 64.3042 45.8215 63.8745 46.3632 63.3328L51.6665 58.0344L44.0832 50.4511L51.4298 43.1061L58.9882 50.6661L64.2915 45.3628C64.8332 44.8211 65.263 44.178 65.5562 43.4702C65.8494 42.7624 66.0003 42.0038 66.0003 41.2378C66.0003 40.4717 65.8494 39.7131 65.5562 39.0053C65.263 38.2975 64.8332 37.6544 64.2915 37.1128ZM42.8332 59.8028C42.7558 59.8804 42.6638 59.9419 42.5626 59.9839C42.4613 60.026 42.3528 60.0476 42.2432 60.0476C42.1336 60.0476 42.025 60.026 41.9238 59.9839C41.8225 59.9419 41.7306 59.8804 41.6532 59.8028L31.2432 49.3978C31.0869 49.2415 30.9992 49.0296 30.9992 48.8086C30.9992 48.5876 31.0869 48.3757 31.2432 48.2194L33.0115 46.4511L44.5948 58.0344L42.8332 59.8028ZM60.7565 41.8328L58.9882 43.6011L47.4048 32.0178L49.1665 30.2428C49.2439 30.1651 49.3359 30.1036 49.4371 30.0616C49.5384 30.0196 49.6469 29.9979 49.7565 29.9979C49.8661 29.9979 49.9746 30.0196 50.0759 30.0616C50.1771 30.1036 50.2691 30.1651 50.3465 30.2428L60.7565 40.6494C60.9122 40.8056 60.9997 41.0172 60.9997 41.2378C60.9997 41.4583 60.9122 41.6699 60.7565 41.8261V41.8328Z"
        fill="white"
      >
      </path>
    </svg>
  </div>
  <div class="bg-slate-800">
    <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M10 19.9999C8.02219 19.9999 6.08879 19.4134 4.4443 18.3146C2.79981 17.2158 1.51809 15.654 0.761209 13.8267C0.00433286 11.9995 -0.193701 9.98879 0.192152 8.04898C0.578004 6.10917 1.53041 4.32734 2.92894 2.92881C4.32746 1.53029 6.10929 0.577882 8.0491 0.19203C9.98891 -0.193823 11.9996 0.00421079 13.8268 0.761087C15.6541 1.51796 17.2159 2.79969 18.3147 4.44418C19.4135 6.08867 20 8.02207 20 9.99988C19.9974 12.6512 18.9429 15.1932 17.0681 17.068C15.1934 18.9428 12.6514 19.9972 10 19.9999V19.9999ZM10 4.99988C9.0111 4.99988 8.0444 5.29313 7.22215 5.84253C6.39991 6.39194 5.75904 7.17283 5.38061 8.08647C5.00217 9.0001 4.90315 10.0054 5.09608 10.9753C5.289 11.9452 5.76521 12.8362 6.46447 13.5354C7.16373 14.2347 8.05465 14.7109 9.02455 14.9038C9.99446 15.0967 10.9998 14.9977 11.9134 14.6193C12.8271 14.2408 13.6079 13.6 14.1574 12.7777C14.7068 11.9555 15 10.9888 15 9.99988C15 8.6738 14.4732 7.40203 13.5355 6.46435C12.5979 5.52667 11.3261 4.99988 10 4.99988Z"
        fill="white"></path>
    </svg>
    <svg width="30" height="17" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M30 17.001H25V8.66768C25 7.78363 24.6488 6.93578 24.0237 6.31066C23.3986 5.68554 22.5507 5.33435 21.6667 5.33435H8.33333C7.44928 5.33435 6.60143 5.68554 5.97631 6.31066C5.35119 6.93578 5 7.78363 5 8.66768V17.001H0V8.66768C0.00264643 6.45836 0.88147 4.34028 2.4437 2.77805C4.00593 1.21582 6.12401 0.336997 8.33333 0.334351H21.6667C23.876 0.336997 25.9941 1.21582 27.5563 2.77805C29.1185 4.34028 29.9974 6.45836 30 8.66768V17.001Z"
        fill="white"></path>
    </svg>
  </div>
</header>
