---

---

<header class="h-[45px] max-w-full bg-opacity-60 bg-[#101013]">
  <div class="flex flex-row">
    <img src="./public/gym.svg" alt="Logo waby" class="h-[20px]" />
    <img src="./public/user.svg" alt="user icon" class="h-[20px]" />
  </div>
  <nav class="flex flex-col">
    <ul>
      <li>
        <img src="./public/home.svg" alt="home icon" /><span>Home</span>
      </li>

      <li>
        <img src="./public/calendar.svg" alt="calendar icon" /><span>Calendario</span>
      </li>

      <li>
        <img src="./public/rutinas.svg" alt="rutinas icon" /><span>Rutinas</span>
      </li>
      <li>
        <img src="./public/analitics.svg" alt="analisis icon" /><span>Análisis</span>
      </li>
      <li>
        <img src="./public/objetivos.svg" alt="objetivos icon" /><span>Objetivos</span>
      </li>
      <li>
        <img src="./public/settings.svg" alt="settings icon" /><span>Ajustes</span>
      </li>
    </ul>
  </nav>
  <button> Sign Out
    <img src="./public/sign-in.svg" alt="sign-in-icon" class="h-[15px]"/>
  </button>
</header>
