<header class="flex justify-between py-3 mx-8">
  <img src="" alt="WabyðŸ’ªðŸ»" />
  <nav class="flex flex-row gap-x-10">
    <a href="">Perfil</a>
    <a href="">Cronograma</a>
    <a href="">Rutinas</a>
  </nav>
</header>
